{{ if (eq .chezmoi.os "darwin") -}}
Include ~/.orbstack/ssh/config
{{- end }}

Include ~/.ssh/custom_config

Host *
    AddKeysToAgent yes
    UseKeyChain yes
    ForwardAgent yes
    StrictHostKeyChecking=no
    IdentityAgent "~/Library/Group Containers/2BUA8C4S2C.com.1password/t/agent.sock"
